.empower {
    width: auto;
    height: auto;
    background: #f5f4f2;
    padding-top: 72px;
  
    &__block {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: block;
    }
  
    &__heading {
      color: #333333;
      text-align: center;
      font-size: 54px;
      margin-top: 0;
      margin-bottom: 0;
      letter-spacing: 0.68px;
    }
  
    &__content {
      justify-content: center;
      width: 100%;
      min-width: 100%;
      margin-left: 0;
      padding-left: 60px;
      padding-right: 60px;
      display: block;
      margin-top: 48px;
    }
  }
  
  .content {
    &__tab {
      justify-content: space-between;
      max-width: 990px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
  
      &--a {
        border: 1px solid #574d9c;
        color: #6157ab;
        background-color: #ffffff;
        padding: 14px 24px;
        letter-spacing: 2.32px;
        text-decoration: none;
        border-radius: 6.8px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  
  .buyeragents {
    margin-top: 55px;
    background-color: #ffffff;
    border-radius: 19px 19px 0 0;
    padding: 75px 74px 65px;
  
    &__content {
      display: flex;
      justify-content: flex-start;
    }
  
    &__icon {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .line-gray {
    background-color: #c9d3d9;
    width: 100%;
    height: 1px;
    margin-top: 85px;
    margin-bottom: 65px;
  }
  
  .buyer {
    &__img {
      border-radius: 0 70px 70px;
      width: 50%;
      margin-right: 85px;
    }
  
    &__content {
      border-top: 1px solid #c9d3d9;
      width: 45%;
      max-width: 475px;
      padding-top: 32px;
  
      &--div {
        color: #574d9c;
        letter-spacing: 2.32px;
        font-size: 16px;
        margin-bottom: 25%;
        font-weight: 400;
        line-height: 24px;
      }
  
      &--h3 {
        margin-top: 0;
        margin-bottom: 32px;
        font-size: 40px;
        font-family: "Roboto";
        font-weight: 400;
      }
  
      &--p {
        color: #636769;
        font-size: 21px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 32px;
      }
    }
  
    &__icon {
      flex-direction: column;
      align-items: center;
      width: 24%;
      display: flex;
  
      &--img {
        background-color: #574d9c;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        margin-bottom: 23px;
        display: flex;
      }
  
      &--text {
        color: #574d9c;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        line-height: 18.9px;
      }
    }
  }
  
  @media only screen and (max-width: 991px) {
    .content__tab {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .content__tab--a {
      margin-bottom: 25px;
      margin-right: 25px;
    }
  
    .empower__content {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .buyeragents {
      padding-top: 40px;
      padding-left: 32px;
      padding-right: 32px;
  
      &__content {
        flex-direction: column-reverse;
      }
  
      .buyer__img {
        width: 100%;
        margin-top: 35px;
        margin-right: 0;
      }
  
      .buyer__content {
        width: 100%;
        max-width: none;
  
        &--div {
          text-align: center;
          margin-bottom: 30px;
        }
  
        &--h3 {
          text-align: center;
        }
  
        &--p {
          text-align: center;
        }
      }
  
      .buyer__button {
        width: auto;
        max-width: 216.891px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
      }
  
      .line-gray {
        margin-top: 27px;
        margin-bottom: 45px;
      }
    }
  }
  