.header {
  position: sticky;
  background-color: #FFFFFF;
  display: flex;
}
.header__menu {
  color: #636769;
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  padding: 15px 60px;
}

.nav__link {
  color: #636769;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  padding: 8px 24px;
  display: block;
  position: relative;
}

.nav__button {
  background-color: #6157AB;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}
.nav__button--margin {
  margin-left: 20px;
}

.show--mbtb {
  display: none;
}

.menu--mbtb {
  display: none !important;
}

@media only screen and (max-width: 991px) {
  .header__menu {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .show--mbtb {
    display: block;
    margin-left: auto;
  }
  .menu--mbtb {
    display: block;
    margin: 22px;
  }
  .menu--mbtb2 {
    display: block;
    margin: 22px;
  }
}
@media only screen and (max-width: 575px) {
  .header__menu {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.prov {
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  padding: 120px 60px 45px;
  display: block;
  position: relative;
  overflow: hidden;
}
.prov__flex {
  display: flex;
}
.prov__content {
  padding-left: 0;
}
.prov__content--h1 {
  max-width: 640px;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 64px;
}
.prov__content--p {
  color: #636769;
  letter-spacing: 0.0025em;
  max-width: 640px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 34px;
}
.prov__content--div {
  color: #96979A;
  margin-bottom: 16px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 2px;
}
.prov__background {
  z-index: -2;
  width: 54%;
  position: absolute;
  top: 10%;
  bottom: 0%;
  left: auto;
  right: -74px;
}
.prov__background--img {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  margin-left: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.prov__logo {
  width: 107px;
  height: 107px;
  display: inline-block;
}
.prov__logo .logo {
  vertical-align: middle;
  max-width: 100%;
}
.prov__button {
  align-items: center;
  margin-bottom: 120px;
  display: flex;
}

.underline {
  text-decoration: none;
  border-bottom: 1px solid #6157AB;
  padding-bottom: 4px;
  margin-left: 48px;
}

.learn--text {
  color: #574D9C;
  font-size: 18px;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .prov {
    padding-top: 80px;
  }
  .prov__flex {
    justify-content: center;
  }
  .prov__content {
    padding-left: 0;
  }
  .prov__content--h1 {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    font-size: 56px;
  }
  .prov__content--p {
    max-width: 560px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    font-size: 20px;
  }
  .prov__content--div {
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .prov__button {
    justify-content: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  .prov__background {
    width: 100%;
    padding-top: 80%;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .prov__none {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .prov {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
  }
  .prov__content {
    padding-top: 40px;
    width: 100%;
  }
  .prov__content--h1 {
    font-size: 46px;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    line-height: 124%;
  }
  .prov__content--p {
    font-size: 18px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }
  .prov__button {
    flex-direction: column;
    align-items: center;
    width: 288px;
    margin-bottom: 30px;
  }
  .prov__button--width {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .underline {
    margin-top: 13px;
    margin-left: 0;
  }
}
.empower {
  width: auto;
  height: auto;
  background: #F5F4F2;
  padding-top: 72px;
}
.empower__block {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
}
.empower__block .empower__heading {
  color: #333333;
  text-align: center;
  font-size: 54px;
  margin-top: 0;
  letter-spacing: 0.68px;
}
.empower__block .empower__content {
  width: 100%;
  min-width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 48px;
}
.empower__block .empower__content .content__tab {
  justify-content: space-between;
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.empower__block .empower__content .content__tab--a {
  border: 1px solid #574D9C;
  color: #6157AB;
  background-color: #FFFFFF;
  padding: 14px 24px;
  letter-spacing: 2.32px;
  text-decoration: none;
  border-radius: 6.8px;
  font-size: 16px;
  font-weight: 500;
}

.buyeragents {
  margin-top: 55px;
  background-color: #FFFFFF;
  border-radius: 19px 19px 0 0;
  padding: 75px 74px 65px;
}
.buyeragents__content {
  display: flex;
  justify-content: flex-start;
}
.buyeragents__icon {
  display: flex;
  justify-content: space-between;
}

.line-gray {
  background-color: #c9d3d9;
  width: 100%;
  height: 1px;
  margin-top: 85px;
  margin-bottom: 65px;
}

.buyer__img {
  border-radius: 0 70px 70px;
  width: 50%;
  margin-right: 85px;
}

.buyer__content {
  border-top: 1px solid #c9d3d9;
  width: 45%;
  max-width: 475px;
  padding-top: 32px;
}
.buyer__content--div {
  color: #574D9C;
  letter-spacing: 2.32px;
  font-size: 16px;
  margin-bottom: 25%;
  font-weight: 400;
  line-height: 24px;
}
.buyer__content--h3 {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 400;
}
.buyer__content--p {
  color: #636769;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 32px;
}

.buyer__icon {
  flex-direction: column;
  align-items: center;
  width: 24%;
  display: flex;
}
.buyer__icon--img {
  background-color: #574d9c;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 23px;
  display: flex;
}
.buyer__icon--text {
  color: #574D9C;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.9px;
}

@media only screen and (max-width: 991px) {
  .content__tab {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .content__tab--a {
    margin-bottom: 25px;
    margin-right: 25px;
  }
  .empower__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .buyeragents {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .buyeragents__content {
    flex-direction: column-reverse;
  }
  .buyer__img {
    width: 100%;
    margin-top: 35px;
    margin-right: 0;
  }
  .buyer__content {
    width: 100%;
    max-width: none;
  }
  .buyer__content--div {
    text-align: center;
    margin-bottom: 30px;
  }
  .buyer__content--h3 {
    text-align: center;
  }
  .buyer__content--p {
    text-align: center;
  }
  .buyer__button {
    width: auto;
    max-width: 216.891px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .line-gray {
    margin-top: 27px;
    margin-bottom: 45px;
  }
}/*# sourceMappingURL=style.css.map */