*{
    box-sizing: border-box;
}
/*Header*/
.header__menu{
    color: #636769;
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    padding: 15px 60px;
}
.nav__link{
    color: #636769;
    z-index: 900;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    padding: 8px 24px; 
    display:block;
    position: relative;
}
.nav__button{
    background-color: #6157AB;
    color: #FFFFFF;
    letter-spacing: .5px;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}
.nav__button--margin{
    margin-left: 20px;
}   
.header{
    z-index: 999;
    top:0;
    position: sticky;
    background-color: #FFFFFF;
    display: flex;
}
.show--mbtb{
    display: none;
}
.menu--mbtb{
    display: none !important;
}
@media only screen and (max-width: 991px) {
    .header__menu {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }
    .show--mbtb{
        display: block;
        margin-left: auto;
    }
    .menu--mbtb{
        display: block;
        margin: 22px;
    }
    .menu--mbtb2{
        display: block;
        margin: 22px;
    }
}
@media only screen and (max-width: 575px){
    .header__menu {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*providing -> logo*/
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  
  .prov {
    background-image: none;
    background-repeat: repeat;
    background-size: auto;
    padding: 120px 60px 45px;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .prov__flex {
    display: flex;
  }
  .prov__content {
    padding-left: 0;
  }
  .prov__content--h1 {
    max-width: 640px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 64px;
  }
  .prov__content--p {
    color: #636769;
    letter-spacing: 0.0025em;
    max-width: 640px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 34px;
  }
  .prov__background {
    z-index: -2;
    width: 54%;
    position: absolute;
    top: 10%;
    bottom: 0%;
    left: auto;
    right: -74px;
  }
  .prov__background--img {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin-left: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .prov__button {
    align-items: center;
    margin-bottom: 120px;
    display: flex;
  }
  
  .underline {
    text-decoration: none;
    border-bottom: 1px solid #6157AB;
    padding-bottom: 4px;
    margin-left: 48px;
  }
  
  .learn--text {
    color: #574D9C;
    font-size: 18px;
    text-decoration: none;
  }
  
  .prov__content--div {
    color: #96979A;
    margin-left: 0%;
    margin-bottom: 16px;
    font-size: 11px;
    line-height: 16px;
    width: 500px;
    letter-spacing: 2px;
  }
  
  .prov__logo {
    max-width: 100%;
    width: 107px;
    height: 107px;
    display: inline-block;
  }
  
  .logo {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    border: 0;
  }
  
  @media only screen and (max-width: 991px) {
    .prov {
      padding-top: 80px;
    }
    .prov__flex {
      justify-content: center;
    }
    .prov__content {
      padding-left: 0;
    }
    .prov__content--h1 {
      text-align: center;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      font-size: 56px;
    }
    .prov__content--p {
      max-width: 560px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      font-size: 20px;
    }
    .prov__button {
      justify-content: center;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
    }
    .prov__background {
      width: 100%;
      padding-top: 80%;
      position: relative;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .prov__content--div {
      text-align: center;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    .prov__none {
      display: none;
    }
  }
  @media only screen and (max-width: 575px) {
    .prov {
      padding-top: 60px;
      padding-left: 0;
      padding-right: 0;
    }
    .prov__content {
      padding-top: 40px;
      width: 100%;
    }
    .prov__content--h1 {
      font-size: 46px;
      max-width: none;
      padding-left: 0;
      padding-right: 0;
      line-height: 124%;
    }
    .prov__content--p {
      font-size: 18px;
      width: 100%;
      max-width: 100%;
      margin-bottom: 32px;
    }
    .prov__button {
      flex-direction: column;
      align-items: center;
      width: 288px;
      margin-bottom: 30px;
    }
    .prov__button-width {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
    .underline {
      margin-top: 13px;
      margin-left: 0;
    }
  }
/*Who we empower*/
.empower{
    width: auto;
    height: auto;
    background: #F5F4F2;
    padding-top: 72px;
}
.empower__block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
}
.empower__heading{
    color: #333333;
    text-align:center;
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.68px;
}
.empower__content{
    justify-content: center;
    width: 100%;
    min-width: 100%;
    margin-left: 0;
    padding-left: 60px;
    padding-right: 60px;
    display: block;
    margin-top: 48px;
}
.content__tab{
    justify-content: space-between;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.content__tab--a{
    border: 1px solid #574D9C;
    color: #6157AB;
    background-color: #FFFFFF;
    padding: 14px 24px;
    letter-spacing: 2.32px;
    text-decoration: none;
    border-radius: 6.8px;
    font-size: 16px;
    font-weight: 500;
}
.buyeragents{
    margin-top: 55px;
    background-color: #FFFFFF;
    border-radius: 19px 19px 0 0;
    padding: 75px 74px 65px;

}
.buyeragents__content{
    display: flex;
    justify-content: flex-start;
}
.line-gray {
    background-color: #c9d3d9;
    width: 100%;
    height: 1px;
    margin-top: 85px;
    margin-bottom: 65px;
}
.buyeragents__icon{
    display: flex;
    justify-content: space-between;
}
.buyer__img{
    border-radius: 0 70px 70px;
    width: 50%;
    margin-right: 85px;
}
.buyer__content{
    border-top: 1px solid #c9d3d9;
    width: 45%;
    max-width: 475px;
    padding-top: 32px;
}
.buyer__content--div{
    color: #574D9C;
    letter-spacing: 2.32px;
    font-size: 16px;
    margin-bottom: 25%;
    font-weight: 400;
    line-height: 24px;
}
.buyer__content--h3{
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: 400;
}
.buyer__content--p{
    color: #636769;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 32px;
}
.buyer__icon {
    flex-direction: column;
    align-items: center;
    width: 24%;
    display: flex;
}
.buyer__icon--img {
    background-color: #574d9c;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 23px;
    display: flex;
}
.buyer__icon--text {
    color: #574D9C;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
}
@media only screen and (max-width: 991px) {
    .content__tab{
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .content__tab--a{
        margin-bottom: 25px;
        margin-right: 25px;
    }
    .empower__content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .buyeragents{
        padding-top: 40px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .buyeragents__content{
        flex-direction: column-reverse;
    }
    .buyer__img{
        width: 100%;
        margin-top: 35px;
        margin-right: 0;
    }
    .buyer__content{
        width: 100%;
        max-width: none;
    }
    .buyer__content--div{
        text-align: center;
        margin-bottom: 30px;
    }
    .buyer__content--h3{
        text-align: center;
    }
    .buyer__content--p{
        text-align: center;
    }
    .buyer__button{
        width: auto;
        max-width: 216.891px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    .line-gray {
        margin-top: 27px;
        margin-bottom: 45px;
    }
}
/*company*/
.company{
    background-color: #E3E6F9;
    padding: 72px 61px 88px;
}
.company__heading{
    color: #323A5B;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 54px;
}
.company__content{
    justify-content: space-between;
    margin-top: 68px;
    display: flex;
}
.company__content--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin-right: 40px;
}
.company__content--text1{
    color:  #1E2224;
    text-align: center;
    margin-bottom: 16px;
    font-size: 26px;
    font-weight: 400;
    line-height: 42px;
}
.company__content--text2{
    justify-content: center;
    margin-bottom: 62px;
    display: flex;
}
.company__photo{
    border-radius: 100px;
    width: 72px;
    height: 72px;
    margin-right: 14px;
}
.company__inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.company__name{
    color: #636769;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
}
.company__company{
    color: #636769;
    line-height: 30px;
}
.company__content--br{
    background-color: #c9c9c9;
    width: 100%;
    height: 1px;
    margin-top: -16px;
    margin-bottom: 40px;
}
.company__content--text3{
    color: #363B3D;
    text-align: center;
    margin-bottom: 32px;
    font-size: 18px;
}
.company__content--button{
    border: 1px solid #574D9C;
    letter-spacing: .5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 12px 24px;
}
.company__content--img{
    border-radius: 20px;
    width: 50%;
    height: auto;
    max-height: 600px;
}
.company__br{
    background-color: #b2a9ef;
    width: 100%;
    height: 1px;
    margin-top: 68px;
    margin-bottom: 40px;
}
.company__stats{
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
}
.company__stats--number{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.stats__number{
    font-size: 72px;
    line-height: 104.04px;
    color:#323A5B;
}
.stats__text{
    color: #323A5B;
    letter-spacing: 2px;
    text-transform: uppercase;
    align-self: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
@media only screen and (max-width: 991px) {
    .company{
        padding-left: 0;
        padding-right: 0;
    }
    .company__heading{
        padding-left: 24px;
        padding-right: 24px;
    }
    .company__content{
        flex-direction: column;
    }
    .company__content--text{
        max-width: none;
        margin-right: 0;
    }
    .company__content--text1{
        padding-left: 24px;
        padding-right: 24px;
    }
    .company__content--text3{
        max-width: 580px;
    }
    .company__content--img{
        width: 100%;
        margin-top: 35px;
    }
    .company__stats{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
/*solution*/
.solution{
    background-color: #574D9C;
    padding-top: 72px;
    border-radius: 0px 0px 19px 19px;
}
.solution__heading{
    color: #FFFFFF;
    text-align: center;
    font-size: 51px;
    font-weight: 400;
    letter-spacing: 0.68px;
    line-height: 64.8px;
}
.solution__tab{
    background-color: #FFFFFF;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 2.32px;
    font-weight: 400;
    border: 1px solid #6157AB;
    text-decoration: none;
    color: #574D9C;
    padding: 15px 31px;
    border-radius: 6.8px;
    text-align: center;
}
.solution__content{
    display: flex;
    margin-top: 88px;
}
.solution__content--div{
    width: 94px;
    height: 94px;
    margin-left: auto;
    margin-right: auto;
}
.solution__content--main{
    background-color: #FFFFFF;
    display: flex;
    border-radius: 12px;
}
.solution__content--img{
    max-width: 100%;
    max-height: 100%;
}
.solution--padding{
    margin: 32px;
    max-width: 324px;
}
.solution__main--img{
    width: 324px;
    height: 175px;
    background: url("https://s3-alpha-sig.figma.com/img/094d/f2d8/e202abd420ef7d098d353e5b915203f9?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VAT1sOdBTKSksW9C6n~94~oqb~Uql19tkmXmx05jBxEp4tGq5dZFOBVKySc16djE14hpLYZShWlS7REPfKHRSFSt~Zy~w-CLM2sGGhIr08wtvQl367YAmB9cp9RrBijqOMBUXtLir9bGy0oYZY9BYXpYturN0AefFPaeHceWZC34B1KunDZ1cdwjJOChz8fgAVfgmQh3wliMCkd51CnlGHN~rk4-4Z1BRiF6YdCaDK8OmJpn5J15LsKHn9k12JRTpcvpb2FnJBkRwyHubkeh0lLEmNdFni3vAkf8MSCW~FuYr2dlKt3cDlRgMwccmnMmM16OsdWm-pabmvVLOwjj0g__");
    background-size: cover;
}
.solution__main--div{
    display: flex;
    padding-top: 28px;
}
.solution__main--text{
    background-color: #E7ECEE;
}
.solution__text{
    display: flex;
    padding-top: 28px;
    align-items: center;
    justify-content: center;
}
.solution--border{
    height: 1px;
    width: 80px;
    background-color:  #C7C1F3;
}
.solution--text1{
    line-height: 400;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 1.1px;
    color: #363B3D;
}
.solution__shield{
    margin: 26px 36px 24px 204px
}
.solution--border2{
    height: 1px;
    width: 284px;
    background-color:  #C7C1F3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
}
.solution--text2{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    justify-content: center;
}
.solution--text2--1{
    line-height: 400;
    font-size: 11px;
    line-height: 30px;
    color: #363B3D;
    width: 45px;
    height: 60px;
    margin-right: 49px;
}
.solution--text2--2{
    line-height: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: #636769;
    width: 180px;
    height: 44px;
}
.solution--text3{
    line-height: 400;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.16px;
    margin-top: 119px;
}
.solution--text4{
    color: #636769;
    font-size: 18px;
    line-height: 30px;
    margin-top: 37px;
    margin-bottom: 66px;
}
.solution--text5{
    display: flex;
    align-items: center;
}
.book{
    margin-right: 11px;
}
.solution__tron{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 88px;
    .tron__1{
        width: 16px;
        height: 16px;
        border-radius: 100px;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF;
        margin: 6px;
    }
    .tron__2{
        width: 16px;
        height: 16px;
        border-radius: 100px;
        border: 1px solid #FFFFFF;
        margin: 6px;
    }
}
@media only screen and (max-width: 991px) {
    .solution__content--div{
        display: none;
    }
    .solution__content--main{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 575px) {
    .solution__content--main{
        flex-direction: column;
    }
}
/*Appstore*/
.appstore{
    display: flex;
    justify-content: center;

    .appstore__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-right: 20px;

        .appstore__text--1{
            line-height: 48px;
            font-size: 40px;
            font-weight: 400;
            text-align: center;
            max-width: 405px;
            max-height: 96px;
        }
        
        .appstore__text--2{
            line-height: 30px;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            max-width: 391px;
            max-height: 60px;
            margin-top: 35px;
        }

        .appstore__logo{
            padding: 10px 44px;
            background-color: #000000;
            border-radius: 7px;
            margin-top: 45px;
        }
    }

    .appstore__img{
        max-width: 450px;
        max-height: 469px;
        margin-left: 20px;
        margin-top: 83px;

        .appstore__img--1{
            max-width: 100%;
            max-height: 100%;
        }
    }
}
@media only screen and (max-width: 991px){
    .appstore{
        flex-direction: column;
        
        .appstore__img{
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }
    }
}
/*footer*/
.footer{
    background-color: #050302;
    display: flex;
    flex-direction: column;
    padding: 60px;
}
.footer__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer__div{
    margin-right: 64px;
}
.footer__img{
    max-width: 120px;
    max-height: 40px;
}
.footer__text{
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer__text--header{
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
}
.footer__div--margin{
    margin-right: 18px;
}
.footer__logo{
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
}
.footer__img--logo{
    max-width: 202px;
    max-height: 70px;
}
