<!--header-->
<div class="header">
    <nav class="header__menu">
        <a class="nav__link" href="#">Agents</a>
        <a class="nav__link" href="#">Homebuyers</a>
        <a class="nav__link" href="#">Resouces</a>
        <a class="nav__link" href="#">Log In</a>
        <a class="nav__button nav__button--margin" href="#">Sign Up Now</a>
    </nav>
    <a class="nav__link show--mbtb mbtb--display" href="#" >Log In</a>
    <div class="gg-menu menu--mbtb mbtb--display" onclick="navbar()"></div>
    <div class="header--mbtb" style="display: none;">
        <div class="header">
            <a class="nav__link show--mbtb" href="#">Log In</a>
            <div class="gg-menu menu--mbtb2"></div>
        </div>
        <div>
            <a class="nav__link" href="#">Agents</a>
            <a class="nav__link" href="#">Homebuyers</a>
            <a class="nav__link" href="#">Resouces</a>
            <a class="nav__link" href="#">Log In</a>
            <a class="nav__button" href="#">Sign Up Now</a>
        </div>
    </div>
</div>